fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
redis
boto3
httpx
requests
pydantic
pydantic[email]
pydantic-settings
email-validator
bcrypt>=4.0.1,<4.1.0
pytest
pytest-asyncio
pydantic-settings
google-auth
